<div class="item-management-container">
  <h2>Item Management</h2>

  <div class="buttons-container">
    <button mat-button id="createItemButton" (click)="createItem()">Create Item</button>
    <button mat-button id="editItemButton" (click)="editItem()" [disabled]="!selectedItem">Edit Item</button>
    <button mat-button id="deleteItemButton" (click)="deleteItem()" [disabled]="!selectedItem">Delete Item</button>
  </div>

  <div class="fields-container">
    <select id="selectType" [(ngModel)]="selectedItem.type" [disabled]="!isEditable">
      <option value="">Select Type</option>
      <option value="Burger">Burger</option>
      <option value="Fries">Fries</option>
      <option value="Dip">Dip</option>
      <option value="Sides">Sides</option>
    </select>

    <span class="error-message" *ngIf="validateName()">{{ validateName() }}</span>
    <input type="text" id="nameInput" [(ngModel)]="selectedItem.name" placeholder="Item Name" [disabled]="!isEditable">

    <span class="error-message" *ngIf="validatePrice()">{{ validatePrice() }}</span>
    <input type="number" id="priceInput" [(ngModel)]="selectedItem.price" placeholder="Item Price" [disabled]="!isEditable" min="0">

    <div class="input-group" *ngIf="selectedItem.type === 'Burger'">
      <span class="error-message" *ngIf="validateDescription()">{{ validateDescription() }}</span>
      <input type="text" id="descriptionInput" [(ngModel)]="selectedItem.description" placeholder="Item Description" [disabled]="!isEditable">
    </div>

    <input type="file" id="fileInput" (change)="onFileSelected($event)" [disabled]="!isEditable" accept="image/*">
  </div>

  <button mat-button id="saveButton" (click)="saveItem()" [disabled]="!isEditable">Save</button>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Type</th>
  </tr>
  <tr *ngFor="let item of menuItems" (click)="selectItem(item)">
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.price }} kr</td>
    <td>{{ item.type }}</td>
  </tr>
</table>
