@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.item-management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
  color: #f8e8d3;
}

.buttons-container {
  margin-top: 50px;
}

/* Container for both tables */
.tables-container {
  display: flex;
  justify-content: space-around; /* Adjusted for better spacing */
  width: 100%;
  margin-top: 20px;
}

/* Styles for individual tables */
.menu-items-table, .ingredients-table {
  width: 40%; /* Reduced width for smaller tables */
  max-width: 40%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1b1b1b;
}

th, td {
  border: 1px solid #f8e8d3;
  padding: 8px;
  text-align: left;
  color: #f8e8d3;
}

th {
  background-color: #ff3a02;
}

tr:nth-child(even) {
  background-color: #1b1b1b;
}

.fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

input, select {
  padding: 8px;
  border: 1px solid #f8e8d3;
  border-radius: 4px;
  width: 200px;
  background-color: #1b1b1b;
  color: #f8e8d3;
}

button {
  background-color: transparent;
  border: 2px solid #ff3a02;
  color: #f8e8d3;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #ff3a02;
  color: #1b1b1b;
}

button[disabled] {
  border-color: #cccccc;
  color: #cccccc;
  cursor: not-allowed;
}
