<div class="item-management-container">
  <h2>Item Management</h2>

  <div class="buttons-container">
    <button (click)="createItem()" id="createItemButton" mat-button>Create Item</button>
    <button (click)="editItem()" [disabled]="!selectedItem" id="editItemButton" mat-button>Edit Item</button>
    <button (click)="deleteItem()" [disabled]="!selectedItem" id="deleteItemButton" mat-button>Delete Item</button>
  </div>

  <div class="fields-container">
    <select [(ngModel)]="selectedItem.type" [disabled]="!isEditable" id="selectType">
      <option value="">Select Type</option>
      <option value="Burger">Burger</option>
      <option value="Fries">Fries</option>
      <option value="Dip">Dip</option>
      <option value="Sides">Sides</option>
    </select>

    <span *ngIf="validateName()" class="error-message">{{ validateName() }}</span>
    <input [(ngModel)]="selectedItem.name" [disabled]="!isEditable" id="nameInput" placeholder="Item Name" type="text">

    <span *ngIf="validatePrice()" class="error-message">{{ validatePrice() }}</span>
    <input [(ngModel)]="selectedItem.price" [disabled]="!isEditable" id="priceInput" min="0"
           placeholder="Item Price" type="number">

    <div *ngIf="selectedItem.type === 'Burger'" class="input-group">
      <span *ngIf="validateDescription()" class="error-message">{{ validateDescription() }}</span>
      <input [(ngModel)]="selectedItem.description" [disabled]="!isEditable" id="descriptionInput" placeholder="Item Description"
             type="text">
    </div>

    <input (change)="onFileSelected($event)" *ngIf="selectedItem.type !== 'Dip'" [disabled]="!isEditable" accept="image/*" id="fileInput"
           type="file">
  </div>

  <button (click)="saveItem()" [disabled]="!isEditable" id="saveButton" mat-button>Save</button>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Type</th>
  </tr>
  <tr (click)="selectItem(item)" *ngFor="let item of menuItems">
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.price }} kr</td>
    <td>{{ item.type }}</td>
  </tr>
</table>
