@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.slider-transition {
  transition: transform 2s ease;
}

.uppercase {
  text-transform: uppercase;
}

.avenir-next {
  font-family: 'Avenir Next Condensed', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  /* Styles for grid items */
}

#burgerGrid {
  margin-top: 150px; /* Adjust this value as needed for desired spacing */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
