<div class="flex flex-col items-center p-5 avenir-next custom-margin-top">
  <h2 class="text-3xl" style="color: #f8e8d3; margin-top: 80px; margin-bottom: 20px">{{ burgers[currentIndex]?.burgerName }}</h2>

  <div class="burger-container">
    <!-- Previous Button -->
    <button (click)="previousBurger()" mat-icon-button class="prev-button">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <!-- Previous Burger -->
    <img [src]="burgers[previousIndex]?.imageUrl" alt="{{ burgers[previousIndex]?.burgerName }}" class="side-burger-image prev-image">

    <!-- Current Burger with Animation -->
    <div *ngFor="let burger of burgers; let i = index">
      <img *ngIf="i === currentIndex"
           [src]="burger.imageUrl"
           alt="{{ burger.burgerName }}"
           class="main-burger-image drop-shadow-md"
           [@scaleIn]>
    </div>

    <!-- Next Burger -->
    <img [src]="burgers[nextIndex]?.imageUrl" alt="{{ burgers[nextIndex]?.burgerName }}" class="side-burger-image next-image">

    <!-- Next Button -->
    <button (click)="nextBurger()" mat-icon-button class="next-button">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div class="mt-4" style="display: flex; justify-content: center; gap: 32px;">
    <button mat-button color="warn" (click)="addToCart(burgers[currentIndex])">ADD TO CART</button>
  </div>
</div>

<div id="aboutUsSection" class="mt-12 mx-24 flex items-center">
  <div class="flex-grow text-f8e8d3 text-lg font-avenir" style="font-size: 22px">
    <p>Velkommen til Craft Burger - hvor vi har særlig passion for håndværk og kærlighed til mad. Vores historie begynder med to brødre, hvis drøm var at skabe en burgerrestaurant ud over det sædvanlige.</p>
    <p>Ahmad, vores Michelin-uddannede kok, bringer en ekspertise og lidenskab for gastronomi, der sætter vores burgere i en klasse for sig.</p>
    <p>Alt på vores menu er hjemmelavet med omhu og dedikation. Vi tror på, at den bedste burgeroplevelse kommer fra friske og kvalitetsrige råvarer.</p>
    <p>Derfor har vi i næsten 10 år udforsket og perfektioneret vores opskrifter for at skabe unikke og mindeværdige smagsoplevelser.</p>
    <p>Vores navn, Craft Burger, afspejler ikke kun vores kærlighed til burgere, men også vores engagement i godt håndværk inden for madlavning.</p>
    <p>Vi har dyb respekt for råvarer og sæsonernes skiftende karakter, hvilket afspejles i hver bid af vores lækre burgere og sides.</p>
    <p>Tag med os på en kulinarisk rejse, hvor hver burger er skabt som en oplevelse. Vi er stolte af at dele vores lidenskab for autentisk smag, og vi ser frem til at byde dig velkommen til Craft Burger - hvor hver bid er en hyldest til kvalitet og smagsoplevelse!</p>
  </div>
  <div class="flex-none">
    <img src="/assets/logo/skilt.png" alt="Skilt" class="ml-8" class="skiltImage">
  </div>
</div>
