<div class="flex flex-col items-center p-4">
  <h1 class="text-3xl mt-10">Our Burgers</h1>
  <div *ngIf="burgers.length > 0">
    <div class="flex flex-row justify-center items-center">
      <!-- Slider Controls -->
      <button (click)="previousBurger()" mat-icon-button>
        <mat-icon>chevron_left</mat-icon>
      </button>

      <!-- Current Burger Image -->
      <img [src]="burgers[currentIndex].imageUrl"
           alt="{{ burgers[currentIndex].burgerName }}"
           class="w-96 h-96 drop-shadow-md">

      <!-- Slider Controls -->
      <button (click)="nextBurger()" mat-icon-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

    <!-- Burger Name -->
    <h2 class="text-xl">{{ burgers[currentIndex].burgerName }}</h2>

    <!-- Additional Controls -->
    <div class="mt-4">
      <button mat-button color="warn">Order Now</button>
      <button mat-button color="warn">Browse Menu</button>
    </div>
  </div>
</div>
