<div class="login-container flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <div class="login-box p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold mb-4">LOG IN</h2>
    <form (ngSubmit)="onLogin()" class="flex flex-col gap-4">
      <div>
        <label class="block mb-2 text-sm font-medium" for="usernameInput">Username</label>
        <input [(ngModel)]="loginData.username" class="border border-gray-300 p-2 rounded-md w-full" id="usernameInput" name="username"
               required type="text">
      </div>
      <div>
        <label class="block mb-2 text-sm font-medium" for="passwordInput">Password</label>
        <input [(ngModel)]="loginData.password" class="border border-gray-300 p-2 rounded-md w-full" id="passwordInput" name="password"
               required type="password">
      </div>
      <button class="mt-4 p-2 bg-blue-600 text-white rounded-md hover:bg-blue-700" id="loginButton" type="submit">Log
        In
      </button>
    </form>
    <button (click)="registerClick()" class="mt-4 p-2 bg-blue-600 text-white rounded-md hover:bg-blue-700" id="registerButton" type="submit"> Create An Account </button>
  </div>
</div>
