@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.burger-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.prev-image,
.next-image {
  width: 120px;
  height: 180px;
  object-fit: cover;
  filter: blur(2px);
  margin: 0 5px;
}

.main-burger-image {
  width: 346px;
  height: 518px;
  object-fit: cover;
  margin: 0 5px;
}

.slider-transition {
  transition: transform 2s ease;
}

.uppercase {
  text-transform: uppercase;
}

.avenir-next {
  font-family: 'Avenir Next Condensed', sans-serif;
  font-weight: bold;
  font-style: italic;
}

#burgerGrid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

#fries .grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.grid-item {
  /* Styles specific to grid items */
}

.grid-item img {
  width: 100%;
  object-fit: cover;
}

.navigation {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  margin-bottom: 20px;
  margin-top: 120px; /* Adjusted margin */
}

.nav-button {
  padding: 15px 30px; /* Increased padding for larger buttons */
  margin: 0 10px;
  border: none;
  background-color: transparent; /* Invisible background */
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase; /* Uppercase text */
  font-size: 1.2em; /* Larger font size */
}

.nav-button.selected {
  background-color: #ddd;
  cursor: default;
}

.nav-button:hover:not(.selected) {
  background-color: #eaeaea;
}
