<div class="navigation">
  <button (click)="updateSelectedCategory('All')" [class.selected]="selectedCategory === 'All'" class="nav-button">ALL
  </button>
  <button (click)="updateSelectedCategory('Burgers')" [class.selected]="selectedCategory === 'Burgers'"
          class="nav-button">BURGERS
  </button>
  <button (click)="updateSelectedCategory('Fries')" [class.selected]="selectedCategory === 'Fries'" class="nav-button">
    FRIES
  </button>
  <button (click)="updateSelectedCategory('Dips')" [class.selected]="selectedCategory === 'Dips'" class="nav-button">
    DIPS
  </button>
</div>

<div class="grid-layout" id="burgerGrid" style="color: #f8e8d3">
  <ng-container *ngFor="let burger of burgers; let i = index">
    <div *ngIf="shouldDisplayItem('Burgers')" class="grid-item">
      <div class="image-container">
        <img [src]="burger.imageUrl" alt="{{ burger.name }}" style="width: 100%; object-fit: cover;">
        <p class="image-description">{{ burger.description }}</p>
      </div>
      <p>{{ burger.name }}</p>
      <p>Price: {{ burger.price }} kr</p>
      <button (click)="addToCart(burger, 'burger')" color="warn" mat-button>ADD TO CART</button>
    </div>
  </ng-container>
</div>


<div *ngIf="shouldDisplayItem('Fries')" class="section" id="fries" style="margin-top: 0;">
  <div class="grid-layout" style="color: #f8e8d3">
    <div *ngFor="let fry of fries; let i = index" class="grid-item">
      <img [src]="fry.imageUrl"
           alt="{{ fry.name }}"
           style="width: 100%; object-fit: cover;">
      <p>{{ fry.name }}</p>
      <p>Price: {{ fry.price }} kr</p>
      <button (click)="addToCart(fry, 'fry')" color="warn" mat-button>ADD TO CART</button>
    </div>
  </div>
</div>

<div *ngIf="shouldDisplayItem('Dips')" class="section" id="dipSection">
  <div class="grid-layout" style="color: #f8e8d3">
    <div *ngFor="let dip of dips; let i = index" class="grid-item">
      <div class="content-container">
        <p class="item-name">{{ dip.name }}</p>
        <p class="item-price">Price: {{ dip.price }} kr</p>
      </div>
      <button (click)="addToCart(dip, 'dip')" color="warn" mat-button>ADD TO CART</button>
    </div>
  </div>
</div>
