<div class="navigation">
  <button class="nav-button" [class.selected]="selectedCategory === 'All'" (click)="updateSelectedCategory('All')">ALL</button>
  <button class="nav-button" [class.selected]="selectedCategory === 'Burgers'" (click)="updateSelectedCategory('Burgers')">BURGERS</button>
  <button class="nav-button" [class.selected]="selectedCategory === 'Fries'" (click)="updateSelectedCategory('Fries')">FRIES</button>
</div>

<div id="burgerGrid" class="grid-layout" style="color: #f8e8d3">
  <ng-container *ngFor="let burger of burgers; let i = index">
    <div class="grid-item" *ngIf="shouldDisplayItem('Burgers')">
      <img [src]="burger.imageUrl"
           alt="{{ burger.name }}"
           style="width: 100%; object-fit: cover;">
      <p>{{ burger.name }}</p>
      <p>Price: {{ burger.price }}</p>
      <button mat-button color="warn" (click)="addToCart(burger, 'burger')">ADD TO CART</button>
    </div>
  </ng-container>
</div>


<div id="fries" class="section" *ngIf="shouldDisplayItem('Fries')" style="margin-top: 0;">
  <div class="grid-layout" style="color: #f8e8d3">
    <div *ngFor="let fry of fries; let i = index" class="grid-item">
      <img [src]="fry.imageUrl" alt="{{ fry.fryName }}" style="width: 100%; object-fit: cover;">
      <p>{{ fry.friesName }}</p>
      <p>Price: {{ fry.friesPrice }}</p>
      <button mat-button color="warn" (click)="addToCart(fry, 'fry')">ADD TO CART</button>
    </div>
  </div>
</div>



