<div class="navigation">
  <button (click)="updateSelectedCategory('All')" [class.selected]="selectedCategory === 'All'" class="nav-button">ALL
  </button>
  <button (click)="updateSelectedCategory('Burgers')" [class.selected]="selectedCategory === 'Burgers'"
          class="nav-button">BURGERS
  </button>
  <button (click)="updateSelectedCategory('Fries')" [class.selected]="selectedCategory === 'Fries'" class="nav-button">
    FRIES
  </button>
  <button (click)="updateSelectedCategory('Dips')" [class.selected]="selectedCategory === 'Dips'" class="nav-button">
    DIPS
  </button>
</div>

<div class="grid-layout" id="burgerGrid" style="color: #f8e8d3">
  <ng-container *ngFor="let burger of burgers; let i = index">
    <div *ngIf="shouldDisplayItem('Burgers')" class="grid-item">
      <img [src]="burger.imageUrl"
           alt="{{ burger.name }}"
           style="width: 100%; object-fit: cover;">
      <p>{{ burger.name }}</p>
      <p>Price: {{ burger.price }}</p>
      <button (click)="addToCart(burger, 'burger')" color="warn" mat-button>ADD TO CART</button>
    </div>
  </ng-container>
</div>


<div *ngIf="shouldDisplayItem('Fries')" class="section" id="fries" style="margin-top: 0;">
  <div class="grid-layout" style="color: #f8e8d3">
    <div *ngFor="let fry of fries; let i = index" class="grid-item">
      <img [src]="fry.imageUrl"
           alt="{{ fry.name }}"
           style="width: 100%; object-fit: cover;">
      <p>{{ fry.name }}</p>
      <p>Price: {{ fry.price }}</p>
      <button (click)="addToCart(fry, 'fry')" color="warn" mat-button>ADD TO CART</button>
    </div>
  </div>
</div>

<div *ngIf="shouldDisplayItem('Dips')" class="section" id="dipSection">
  <div class="grid-layout">
    <ng-container *ngFor="let dip of dips; let i = index">
      <div class="grid-item">
        <div class="card">
          <div class="card-content">
            <h3>{{ dip.name }}</h3>
            <p>Price: {{ dip.price }}</p>
          </div>
          <div class="card-actions">
            <button (click)="addToCart(dip, 'dip')" color="warn" mat-button>ADD TO CART</button>
          </div>
        </div>
      </div>
      <div *ngIf="(i + 1) % 4 === 0" class="clear"></div>
    </ng-container>
  </div>
</div>
