<div class="relative">
  <mat-toolbar class="fixed top-0 left-0 right-0 z-50 flex justify-between items-center h-16 opacity-90" style="background-color: #ff3a02">
    <button class="admin-menu" (click)="toggleSubMenu()">
      <mat-icon>dashboard</mat-icon>
    </button>
  </mat-toolbar>

  <mat-toolbar *ngIf="showSubMenu" class="fixed top-16 left-0 right-0 z-50 flex justify-between items-center h-16 opacity-90" style="background-color: #f8e8d3; opacity: 80%; margin-top: 60px;">
    <button (click)="create()">User Management</button>
    <button (click)="edit()">Item Management</button>
  </mat-toolbar>
</div>
