<div class="relative">
  <mat-toolbar class="fixed top-0 left-0 right-0 z-50 flex items-center h-16 opacity-90" style="background-color: #ff3a02">
    <div class="separator"></div>

    <button class="admin-menu" id="menuButton" (click)="toggleSubMenu()">
      <mat-icon>apps</mat-icon>
    </button>

    <div class="separator"></div>

    <div class="admin-header" style="color: #f8e8d3">Admin</div>

    <div class="separator"></div>

    <div class="route-header" style="color: #f8e8d3">{{ selectedNavItem }}</div>

    <button class="back" routerLink="/home" style="position: absolute; right: 30px;">
      <mat-icon>reply_all</mat-icon>
      <h1>Back</h1>
    </button>
  </mat-toolbar>

  <mat-toolbar [ngClass]="{'slide-in': showSubMenu, 'slide-out': !showSubMenu}" class="left-0 right-0 z-50 flex justify-start items-center h-16 opacity-90" style="position: fixed; top: 67px; background-color: #f8e8d3; opacity: 80%; z-index: 50;">
    <div *ngIf="showSubMenu">
      <button id="overviewButton" routerLink="/admin/overview" style="margin-right: 40px;">Overview</button>
      <button id="itemManagementButton" routerLink="/admin/item-management" style="margin-right: 40px;">Item Management</button>
      <button id="userManagementButton" routerLink="/admin/user-management" style="margin-right: 40px;">User Management</button>
    </div>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
