<div class="relative">
  <mat-toolbar class="fixed top-0 left-0 right-0 z-50 flex justify-between items-center h-16 opacity-90"
               style="background-color: #ff3a02">
    <div class="flex items-center">
      <a class="flex items-center logo-container" routerLink="/home">
        <img alt="logo" height="100px" src="assets/logo/CraftBurger.png" style="margin-top: 25px;" width="100px"/>
      </a>
      <button class="px-3 nav-button" mat-button routerLink="/menu" style="left: 15px;">Menu</button>
      <button (click)="aboutUsClicked()" class="px-3 nav-button" mat-button style="left: 30px;">About Us</button>
    </div>

    <button class="shopping-cart" mat-icon-button routerLink="/cart" style="right: 10px">
      <mat-icon>shopping_cart</mat-icon>
      <span *ngIf="cartCount > 0" class="cart-count" style="color: #1b1b1b">{{ cartCount }}</span>
    </button>
  </mat-toolbar>
</div>
