<div class="relative">
  <mat-toolbar class="fixed top-0 left-0 right-0 z-50 toolbar flex items-center justify-between h-16 opacity-90" style="background-color: #ff3a02">
    <a routerLink="/home" class="flex items-center">
      <img src="assets/logo/CraftBurger.png" height="100px" width="100px" style="margin-top: 25px;" alt="logo"/>
    </a>

    <button mat-button routerLink="/menu" style="margin-left: 0;">Menu</button>
    <button mat-button (click)="aboutUsClicked()">About Us</button>

    <button mat-icon-button (click)="toggleCart()" class="shopping-cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>

  <div class="absolute top-full right-0 z-40">
    <app-cart-list *ngIf="isCartVisible" class="fixed top-16 right-10 w-90 bg-gray-900 border border-red-600 shadow-lg p-5 z-99">
    </app-cart-list>
  </div>
</div>

<router-outlet></router-outlet>
