@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#aboutUsSection p {
  margin-bottom: 18px;
}

.skiltImage {
  width: 346px;
  height: 518px;
  margin-left: 50px;
}
