<div class="text-white p-6 mt-12 top-0 left-0 right-" style="background-color: #131313">
  <div class="flex flex-col md:flex-row justify-between">
    <!-- Contact Information -->
    <div class="mb-6 md:mb-0">
      <h3 class="text-xl mb-4">Kontakt</h3>
      <p>Åbningstider for madboderne:</p>
      <p>Mandag – torsdag: 11:30 – 20:30</p>
      <p>Fredag – lørdag: 11:30 – 21:00</p>
      <p>Søndag: 11:30 – 20:30</p>
      <p>Esbjerg tlf: +45 31 86 05 41</p>
      <p>Aarhus tlf: +45 71 53 04 16</p>
    </div>

    <!-- Address -->
    <div class="mb-6 md:mb-0">
      <h3 class="text-xl mb-4">Find os</h3>
      <p>Esbjerg Street Food</p>
      <p>Kongensgade 34</p>
      <p>Borgergade 33</p>
      <p>6700 Esbjerg</p>
    </div>

    <!-- Social Media Links -->
    <div class="contact-section">
      <h3 class="text-xl mb-4">Følg os</h3>
      <a class="inline-flex items-center mb-2" href="https://www.instagram.com/craftburgerdk/" target="_blank">
        <span class="ml-2">Instagram</span>
      </a>
      <br>
      <a class="inline-flex items-center mb-2" href="https://www.facebook.com/burgeranarchyesbjergstreetfood"
         target="_blank">
        <span class="ml-2">Facebook</span>
      </a>
      <br>
      <a class="inline-flex items-center" href="mailto:contact.craftburger@gmail.com">
        <span class="ml-2">Email</span>
      </a>
      <p>contact.craftburger&#64;gmail.com</p>
    </div>
  </div>
</div>
