<div style="display: flex; flex-direction: column; align-items: center; margin: 80px auto; max-width: 800px;">
  <h1 class="text-2xl font-semibold" style="color: #f8e8d3;">Order</h1>
  <div style="border-bottom: 1px solid #f8e8d3; width: 100%; margin-bottom: 20px;"></div>

  <div *ngIf="cartItems.length > 0; else emptyCart">
    <!-- Cart Items -->
    <div *ngFor="let item of cartItems" class="flex items-center justify-between" style="border-bottom: 1px solid #f8e8d3; padding: 10px 0;">
      <div class="flex items-center" style="color: #f8e8d3;">
        <img [src]="item.imageUrl" alt="{{ item.name }}" class="object-cover mr-4 square-image" style="width: 150px; height: 150px;">
        <div style="width: 200px;">
          <p class="font-semibold">{{ item.name }}</p>
          <p *ngIf="item.price !== undefined">Price: {{ item.price.toFixed(2) }} kr</p>
          <p>Quantity: {{ item.quantity }}</p>
        </div>
      </div>

      <div class="flex items-center">
        <button (click)="removeItem(item)" class="text-red-500 hover:text-red-700">Remove</button>
      </div>
    </div>

    <!-- Total Price -->
    <div class="mt-4" style="color: #f8e8d3;">
      <p class="text-xl font-semibold">Total Price: {{ totalPrice.toFixed(2) }} kr</p>
    </div>
  </div>

  <ng-template #emptyCart>
    <!-- Empty Cart Message -->
    <p class="text-xl font-semibold" style="color: #f8e8d3;">Your cart is empty</p>
  </ng-template>
</div>
