name: Test Workflow

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Cache NuGet packages
        uses: actions/cache@v2
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Restore dependencies
        run: cd backend && cd test && dotnet restore

      - name: Build the test project
        run: cd backend && cd test && dotnet build --no-restore

      - name: Run API tests
        run: cd backend && cd test && dotnet test --no-build --filter FullyQualifiedName~test.api
        env:
          pgconn: ${{ secrets.PGCONN }}
